openapi: 3.0.3
info:
  title: Logger API
  description: Flexible logging API with JWT authentication. Each service authenticates and can only see its own logs.
  version: 1.0.0

servers:
  - url: https://log.guia.lol
    description: Production
  - url: http://localhost:3106
    description: Local development

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    LoginRequest:
      type: object
      required:
        - userId
        - secret
      properties:
        userId:
          type: string
          example: service-website
        secret:
          type: string
          example: ws-2024-key

    LoginResponse:
      type: object
      properties:
        token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

    LogResponse:
      type: object
      properties:
        id:
          type: string
          example: 6712abc123def456
        timestamp:
          type: string
          format: date-time
          example: "2025-01-15T10:30:00.000Z"

    ReportResponse:
      type: object
      properties:
        total:
          type: integer
          example: 42
        count:
          type: integer
          example: 10
        logs:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
              userId:
                type: string
              data:
                type: object
              timestamp:
                type: string
                format: date-time

    Error:
      type: object
      properties:
        error:
          type: string

paths:
  /login:
    post:
      summary: Get a JWT token
      description: Validates credentials against config.json and returns a signed JWT with 30-day expiry.
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: JWT token issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: Invalid credentials

  /log:
    post:
      summary: Ingest a log entry
      description: Accepts any JSON payload. The userId (from JWT) and timestamp are added automatically.
      tags:
        - Log
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            example:
              event: page_view
              path: /home
              ip: 1.2.3.4
      responses:
        "201":
          description: Log entry created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LogResponse"
        "401":
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Failed to save log
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /report:
    get:
      summary: Retrieve logs
      description: Returns logs filtered by the authenticated user's userId. Supports date range filtering and pagination.
      tags:
        - Report
      security:
        - bearerAuth: []
      parameters:
        - name: from
          in: query
          description: Start date (inclusive)
          schema:
            type: string
            format: date
            example: "2025-01-01"
        - name: to
          in: query
          description: End date (inclusive)
          schema:
            type: string
            format: date
            example: "2025-01-31"
        - name: limit
          in: query
          description: Max number of logs to return
          schema:
            type: integer
            default: 100
            example: 50
        - name: skip
          in: query
          description: Number of logs to skip (pagination)
          schema:
            type: integer
            default: 0
            example: 0
      responses:
        "200":
          description: Logs retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportResponse"
        "401":
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Failed to fetch logs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /health:
    get:
      summary: Health check
      tags:
        - System
      responses:
        "200":
          description: API is running
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
